.container {
    /* background-color: lightcyan; */
    opacity: 0.8;
    /* width: 90%; */
    margin:  auto;
    padding: 4em 6em;
    box-shadow: 5px 5px 5px 5px grey;
}
.top {
    text-align: center;
    background-repeat: no-repeat;
    background-color: white;
    padding-top: 400px; 
    box-shadow: 5px 5px 5px 5px grey;
    background-image: url(/assets/MzYzNjYzMw.jpeg) ;
    background-size: cover;
    height: 500px;
    width: 100%;
    /* padding: 90px; */

}
.middle1 {
    background-image: url(/assets/photo-1621707110477-86dd1e471262.jpeg); 
    /* box-shadow: 5px 5px 5px 5x white; */

}
.my-pic {
    text-align: center;
    text-align: right;
    box-shadow: 1px 2px 8px 8px grey;

}
.middle {
    text-align: center;
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    color: black;
}
.rectangle {

position: absolute;
width: 781px;
height: 100px;
left: 310px;
top: 134px;

background: rgba(196, 196, 196, 0.5);
}
#about-me {
 width: 100%;
 padding-right: 15px;
 padding-left: 15px;
 margin-right: auto;
 margin-left: auto;
}
#about-me .row {
    margin-left: -.75rem;
    margin-right: -.75rem;
}
.row {
    display: flex;
}
