.container {
    background-color: lightcyan;
    opacity: 0.8;
    /* width: 90%; */
    margin:  auto;
    padding: 4em 6em;
    box-shadow: 5px 5px 5px 5px grey;


}
.top {
    text-align: center;
    background-repeat: no-repeat;
    background-color: white;
    /* padding-top: 300px; */
    box-shadow: 5px 5px 5px 5px grey;

}
.middle1 {
    background-image: url(/assets/photo-1621707110477-86dd1e471262.jpeg); 
    /* box-shadow: 5px 5px 5px 5x white; */

}
.my-pic {
    text-align: center;
    text-align: right;
    box-shadow: 5px 5px 5px 8px grey;

}
.middle {
    text-align: center;
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
    color: black;
}
