.container {
    background-color: maroon;
    opacity: 0.8;
    width: 90%;
    margin:  auto;
    padding: 5em 6em;
}
.top {
    text-align: center;
    background-repeat: no-repeat;
    /* padding-top: 300px; */
    box-shadow: 5px 5px 5px 5px grey;

}
.middle1 {
    background-image: url(/assets/photo-1621707110477-86dd1e471262.jpeg);
}
