.container {
    background-color: maroon;
    opacity: 0.8;
    width: 90%;
    margin:  auto;
    padding: 5em 6em;
}
.top {
    text-align: center;
    background-repeat: no-repeat;
    background-color: white;
    /* padding-top: 300px; */
    box-shadow: 5px 5px 5px 5px grey;

}
.middle1 {
    background-image: url(/assets/photo-1621707110477-86dd1e471262.jpeg);
}
.my-pic {
    text-align: center;
    border-radius: 8px;
}
.middle {
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-image: url(/assets/photo-1621707110477-86dd1e471262.jpeg);
    opacity: 0.8;
    color: white;
}
